.application {
    width: 100%;
    outline: 1px solid black;
    justify-content: space-between;
}

.application div {
    outline: 1px solid black;
    margin: 10px;
}

.application div.name {
    flex-grow: 1;
}