.header {
    background-color: #0057B6;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#site-name {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}

#profile-button {
    float: right;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
}

#out-button {
    float: right;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
}

#profile-button:hover {
    color: white;
    background-color: #0057B6;
}

.header div{
    color: #0057B6;
}

.header div:after{
    color: #0057B6;
}

.header div:hover{
    color: #0057B6;
}