h5 {
    text-align: center;
}


Form {
    position: relative;
    margin: 15px 0 15px 0;
}

.employee-login Button {
    background-color: #F5984E;
    border: none;
    opacity: 0.8;
}

.employee-login Button:hover {
    opacity: 1;
    background-color: #F5984E;
}

.divider {
    outline: 1px solid black;
    width: 1px;
}

/* -__- */

.link-style:hover
{
    cursor: pointer;
}

.link-style-2
{
    color: #007bff;
}

.link-style-2:hover
{
    cursor: pointer;
    text-decoration: underline;
}
