span {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    margin: 10px;
}

span.doc_name {
    font-size: 18px;
}

Button.mt-2 {
    transition: 0.3s;
    background-color: #508BE2;
}

Button.mt-2:hover {
    background-color: #0057B6;
}