#changelog
{
    float: right;
}

.text time
{
    display: block;
    top: 95%;
}

.doc {
    margin: 8px;
    font-family: 'PT Sans', sans-serif;
}

span.app_description {
    font-family: 'PT Sans', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

#comment-form Button {
    margin: 10px;
}

.comments span {
    font-family: 'PT Sans', sans-serif;
}

.doc Button, #comment-form Button {
    transition: 0.3s;
    background-color: #508BE2;
}

.doc Button:hover, #comment-form Button:hover {
    background-color: #0057B6;
}

#app-control {
    margin-top: 18px;
}

#app-control Button {
    border: none;
}

#accept {
    background-color: #65CC7B;
}

#revision {
    background-color: #F5984E;
}

#decline {
    background-color: #C84F4F;
}
